<%= form_with model: [@test, @question] do |form| %>
<%= render "shared/errors", resource: @question %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description, id: :question_description, :cols => 50 %>
  </p>
  <p class="actions">
    <%= form.submit %>
  </p>
<% end %>
