<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to 'Edit', edit_question_path(@question) %> |
    <%= link_to 'Back', test_questions_path(@question) %>
  </div>
  <div id="content">
  <h2>Show <%= question_header(@question.test_id).title %>  Question </h2>
    <p>
    <strong>Id:</strong>
    <%= @question.id %>
    </p>
    <p>
    <strong>Question:</strong>
    <%= @question.description %>
    </p>
  </div>
</div>
