<nav class="top-menu-admin">
  <ul class="menu"><h1><%= t('.admin_panel') %></h1></ul>
  <ul class="menu-main">
    <li></li>
    <%= t('.admin_welcome') %>
    <li><%= link_to"#{current_user.last_name}", root_path %></li>
    <li><%= link_to t('.start'), tests_path %></li>
    <li><%= link_to t('.logout'),  destroy_user_session_path(session),
        method: :delete, data: { confirm: t('.sure') } %></li>
  </ul>
    <li><%= link_to 'En', { lang: :en } %></li>
    <li><%= link_to 'Ru', { lang: :ru } %></li>
</nav>
