<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 h1 book">
    <%= link_to t('.admin_panel'), root_path %>
  </span>
  <ul class="nav justify-content-end">
    <% if user_signed_in?  %>
    <li class="nav-item" style="color: #e3f2fd">
      <%= t('.admin_welcome')%> <%= current_user.full_name %>&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <%= link_to t('.start'), tests_path %>&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <%= link_to t('.logout'),
      destroy_user_session_path(session), method: :delete,
      data: { confirm: t('.suure') } %>&nbsp;&nbsp;
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to t('.signup'),  new_user_registration_path %>&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <%= link_to t('.login'),  new_user_session_path %>&nbsp;&nbsp;
    </li>
    <% end %>
    <li class="nav-item">
      <%= link_to 'En', { lang: :en } %>
    </li>&nbsp;&nbsp;
    <li class="nav-item">
      <%= link_to 'Ru', { lang: :ru } %>
    </li>
  </ul>
</nav>
