<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <span class="navbar-brand mb-0 h1">TestGuru</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <%= link_to t('.back'), tests_path %>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row mb-2">
   <div class="col-6 col-md-4">
    <h2><%= result_message(@test_passage) %> </h2>
    <h3><%= t('.result') %></h3>
    <h1>
      <font color="<%= selection_style(@test_passage) %>">
        <%= @test_passage.success_rate %>%
      </font>
    </h1>
  </div>
  <div class="col-12 col-md-8">
    <%= render "trophies" %>
  </div>
</div>
</div>
