<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <span class="navbar-brand mb-0 h1">TestGuru</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <%= link_to t('.back'), tests_path %>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row mb-2">
   <div class="col-6 col-md-4">
    <h2><%= result_message(@test_passage) %> </h2>
    <h3><%= t('.result') %></h3>
    <h1>
      <font color="<%= selection_style(@test_passage) %>">
        <%= @test_passage.success_rate %>%
      </font>
    </h1>
  </div>
  <div class="col-12 col-md-8">
    <table>
     <caption><h4>Ваш трофей:</h4></caption>
     <tr>
       <th><%= trophy_category(@trophies_issued, @trophies).title if
               trophy_category(@trophies_issued, @trophies).present? %></th>
       <th><%= image_tag(trophy_category(@trophies_issued, @trophies).image) if
                         trophy_category(@trophies_issued, @trophies).present? %></th>
     </tr>
     <tr>
       <th><%= trophy_level(@trophies_issued, @trophies).title if
               trophy_category(@trophies_issued, @trophies).present? %></th>
       <th><%= image_tag(trophy_level(@trophies_issued, @trophies).image) if
                         trophy_category(@trophies_issued, @trophies).present? %></th>
     </tr>
     <tr>
       <th><%= trophy_speed(@trophies_issued, @trophies).title if
               trophy_speed(@trophies_issued, @trophies).present? %></th>
       <th><%= image_tag(trophy_speed(@trophies_issued, @trophies).image) if
                         trophy_speed(@trophies_issued, @trophies).present? %></th>
     </tr>
   </table>

   <% current_user.trophies.push(trophy_category(@trophies_issued, @trophies)) if
                                 trophy_category(@trophies_issued, @trophies).present? %>
   <% current_user.trophies.push(trophy_level(@trophies_issued, @trophies)) if
                                 trophy_level(@trophies_issued, @trophies).present? %>
   <% current_user.trophies.push(trophy_speed(@trophies_issued, @trophies)) if
                                 trophy_speed(@trophies_issued, @trophies).present? %>

    </div>
  </div>
</div>
