<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <span class="navbar-brand mb-0 h1">TestGuru</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
     <%= t('.number') %>:&nbsp;
     <%=  @test_passage.indicator_number_question(@test_passage)  %></br>
   </li>&nbsp;&nbsp;&nbsp;&nbsp;
   <li class="nav-item">
     <%= t('.count') %>:&nbsp;
     <%=  @test_passage.test.questions.count %></br>
   </li>
 </ul>
</nav>
<div class="container">
  <div class="row mb-2">
   <div class="col-6 col-md-4">
   </div>
   <div class="col-12 col-md-8">
    <h2><%= t('.header', title: @test_passage.test.title) %></h2>
    <h2><%= t('.question') %>
      <%= @test_passage.question.description %>
      <%= bootstrap_form_with url: test_passage_path(@test_passage),
      local: true, method: :put do |form|  %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.question.answers,
      :id, :body, include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input"  %>
        <%= b.label  class: "form-check-input"  %>
      </p>
      <% end  %>
      <p>
        <%= link_to "Gist Questions", gist_test_passage_path(@test_passage), method: :post %>
        <%= form.submit t('.next'), class: "btn btn-info"  %>
      </p>
      <% end %>
    </div>
  </div>
</div>

