<nav class="top-menu">
  <ul class="menu-main">
    <% if user_signed_in?  %>
    Welcome
    <li><%= link_to"#{current_user.name}", root_path %></li>
    on TestGuru
    <li><%= link_to 'Welcome', tests_path %></li>
    <li><%= link_to 'Log out',  destroy_user_session_path(session),
        method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% else %>
    <li><%= link_to 'Sign up',  new_user_registration_path %></li>
    <li><%= link_to 'Log in',  new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
