<div class="container text-center">
  <%= bootstrap_form_with model: [:admin, @question, @answer] do |form| %>
    <%= render "shared/errors", resource: @answer %>
    <%= form.text_field :body, id: :answer_body, rows: 7, cols: 50, class: "form-control" %>
    <%= form.check_box :correct, id: :answer_correct, class: "form-check-input" %>
    <%= form.submit class: "btn btn-info" %>
  <% end %>
</div>
