<%= form_with model: [:admin, @question, @answer] do |form| %>
  <%= render "shared/errors", resource: @answer %>
<p>
  <%= form.label :body %><br>
  <%= form.text_field :body, id: :answer_body, rows: 7, cols: 50 %>
</p>
<p>
  <%= form.label :correct %><br>
  <%= form.check_box :correct, id: :answer_correct %>
</p>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
