<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to t('.show'), admin_answer_path(@answer) %> <p></p>
    <%= link_to t('.back'), admin_question_path(@answer.question) %>
  </div>
  <div id="content">
    <h1><%= t('.header') %></h1>
    <h2><%= @answer.question.description %></h2>
   <%= render 'form', answer: @answer %>
  </div>
</div>
