<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to t('.back'), admin_question_path(@answer.question) %>
  </div>
  <div id="content">
  <h2><%= t('.question') %></h2>
    <p>
    <strong><%= @answer.question.description %></strong>
    </p>
    <p>
    <strong><%= t('.answer') %></strong>
      <%= @answer.body %>
    </p>
    <p>
    <strong><%= t('.correct') %></strong>
      <%= @answer.correct %>
    </p>
  </div>
</div>
