<div class="container text-center">
  <%= bootstrap_form_with model: [:admin, @test, @question] do |form| %>
    <%= render "shared/errors", resource: @question %>
    <%= form.text_field :description, id: :question_description,
      :cols => 50, class: "form-control" %>
    <% if @question.test != nil %>
      <%= form.collection_select :test_id, Test.all, :id, :title,
        prompt: true, class: "form-control" %>
    <% end %>
      <%= form.submit class: "btn btn-info" %>
  <% end %>
</div>
