<%= form_with model: [:admin, @test, @question] do |form| %>
<%= render "shared/errors", resource: @question %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description, id: :question_description, :cols => 50 %>
  </p>
  <p>
    <%= form.label :test_id %><br>
    <%= form.collection_select :test_id, Test.all, :id, :title, prompt: true %>
  </p>
  <p class="actions">
    <%= form.submit %>
  </p>
<% end %>
