<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to t('.edit'), edit_admin_question_path(@question) %><br><br>
    <%= link_to t('.back'), admin_test_path(@question.test) %><br><br>
    <%= link_to t('.new'), new_admin_question_answer_path(@question) %>
  </div>
  <div id="content">
  <h2><%= t('.header', title: @question.test.title) %></h2>
    <p>
    <strong>Id:</strong>
    <%= @question.id %>
    </p>
    <p>
    <strong><%= t('.question') %></strong>
    <%= @question.description %>
    </p>
    <p>
    <strong><%= t('.answer') %></strong>
    <ol>
    <%= render @question.answers %>
    </ol>
    </p>
  </div>
</div>


