
<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to 'New Question', new_admin_test_question_path(@test.id) %>
    <%= link_to 'Edit', edit_admin_test_path(@test) %> |
    <%= link_to 'Back', admin_tests_path %>
  </div>
  <div id="content">
    <h2>Show <%= @test.title %> test</h2>
    <p>
      <strong>Id:</strong>
      <%= @test.id %>
    </p>
    <p>
      <strong>Test:</strong>
      <%= @test.title %>
    </p>
    <p>
      <strong>Level:</strong>
      <%= level_test(@test) %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= @test.author.last_name %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= @test.category.title %>
    </p>
    <p>
      <strong>All test questions:</strong>
      <table>
        <tr>
          <th>Description</th>
          <th colspan="3">Actions</th>
        </tr>
        <%= render @test.questions %>
        <%#= render partial: 'questions/question', collection: @test.questions %>
      </table>
    </p>
  </div>
</div>

