<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to 'New Question', new_test_question_path(@test) %>
    <%= link_to 'Show', test_path %> |
    <%= link_to 'Back', tests_path(@test) %>
  </div>
  <div id="content">
  <h2>Edit <%= @test.title %> test</h2>
    <%= render 'form', test: @test %>
  </div>
</div>
